---
import MainLayout from '../../layouts/MainLayout.astro'
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import Showcase from "~/components/showcase.astro";
import Articlecard from '~/components/articlecard.astro';

const allRecipes: CollectionEntry<'recipes'>[] = (await getCollection('recipes')).sort((a,b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

---
<MainLayout title='All Recipes | Circle T BBQ'>
      
      <h1 class="text-2xl pb-3">All Recipes</h1>
      <br />
      <!-- Main Grid -->
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
      
      { allRecipes.map(article => (
        <Articlecard recipe={article} />
      )) }

      </div>

</MainLayout>