---
import Menu from "~/components/bbqMenu.astro";
import ContentSection from "~/components/content-section.astro";



---

<ContentSection title="Our Food Menu" id="menu">
  <Fragment slot="lead">
    Circle T believes in <span class="text-primary">great good</span> at a 
    <span class="text-primary">fair price.</span>
  </Fragment>
  <Menu />


</ContentSection>
