---
import ContentSection from "~/components/content-section.astro";
import Form from "./Form.astro";

---

<ContentSection title="Contact Us" id="contact">
  <Fragment slot="lead">
    Have a <span class="text-primary">question</span>? Send us a note and we'll get back as soon as possible.

  </Fragment>
  <div class="w-full space-y-2">
  <Form />


  </div>
</ContentSection>
